{% extends "base.html" %}

{% block page_title %}
    home
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto pb-10">

        <div class=" mx-2 mt-32 mb-20 bg-gray-800 h-50vh rounded-2xl bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1556103727-777acb371272?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop)"></div>

        <div class="flex flex-wrap mb-10">
            {% for room in rooms %}
                {% include "partials/room_card.html" with room=room %}
            {% endfor %}
        </div>

        <div class="flex items-center justify-center">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium">
                {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            {% endif %}    
            </div>
    </div>
   
{% endblock content %}



